body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

// Misc
.alerts {
  margin-top: 10px;
}


// Navigation
#top-bar {
  background-color: #3273dc;
  .nav-left {
    font-size: 2em;
    padding-left: 10px;
  }
  .nav-item {
    font-weight: bold;
    color: #fff;
  }
  .nav-toggle{
    span {
      background-color: #fff;
    }
  }
}

// Pagination
.pagination {
  .previous_page, .next_page {
    @extend .button;
  }

  .disabled {
    @extend .is-disabled;
  }
}

// Body

section.section {
  background-color: #f5f7fa;
}

.expanded-button {
  width: 100%;
}

// Feed
.photo-card {
  margin-top: 10px;
  margin-bottom: 20px;
}

// Posts
.post-body {
  margin-top: 0.6em;
  margin-bottom: 1.3em;
}

// Tabs
.tab-content {
  display: none;
}

.tab-content.current {
  display: inherit;
}